body {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto 800px auto;
}

.top {
    font-size: .8125rem;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 3px;
    margin-bottom: 5px;
}

header{
    display: block;
    background-color: aliceblue;
    height: 50px;
}

nav{
    height: 50px;
}

.navbar{
    position: sticky;
    /* display: flex; */
    /* align-items: center;  */
    /* justify-content: center; cannot use this properties with dislay block */
    /* height: fit-content; */
    /* top: -0.0625rem; */
    top: 0px;
    /* left: 0;
    right: 0; */
    /* right: -10px; */
}

.navleft{
    /* position:static; */
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

ul{
    list-style: none;
    /* align-items: center; */
}

li{
    display: inline-block;
    justify-items: center;
    align-items: center;
    
}

a:link	{
    /* box-sizing: inherit; */
    display: block;
    color: palevioletred;
    
}

a:visited{
    color: darkgreen;
}

.button{
    background-color: lightblue;
    border: none;
    padding: 7px 0px;
    margin: 5px;
    justify-items: center;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 95px;
}

#cupcakepng{
    display: flex;
    align-items: center;
    justify-content: center;
}